* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBarContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #84b6da;
  min-height: 65px;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  transition: 0.5s;
  > .userProfile {
    color: white;
    > svg {
      font-size: 1.4rem;
    }
  }
}
.navBarLogo {
  padding-left: 20px;
  flex: 10;
}

.navBarLinks {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  > a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.5s;
    > svg {
      font-size: 2rem;
      transition: 0.5s;
    }
  }
}

.sellTarget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: rgb(70, 70, 70);
  background-color: #ececec;
  padding: 5px 20px;
  border-radius: 13px;
  font-size: 0.8rem !important;
  font-weight: 600;
  transition: 0.5s;
  > svg {
    font-size: 1.2rem;
  }
}

.sellTarget:hover {
  background-color: #f6f6f6;
  color: #0f72ba;
  cursor: pointer;
  transition: 0.5s;
}

/* 0F72BA */

.profilePhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media screen and (max-width: 468px) {
  .navBarLinks {
    gap: 0px;
    > a {
      margin: 0 5px;
    }
  }
  .sellTarget {
    width: 20px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    > span {
      display: none;
    }
    > svg {
      display: block;
    }
  }
}


/* --------------PROFILE MENU---------------- */
.backProfileMenu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 88, 88, 0.151);
  z-index: 1;
}
.profileMenuContainer{
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 2px;
  width: 100%;
  height: 100%;
}

.profileMenuContent{
  display: flex;
  width: 100%;
  height: 100px;
  max-width: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 65px;
}

.profileMenuElement a {
  text-decoration: none;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s;
  color: #064b7c;
  font-size: 0.8rem;
  cursor: pointer;
  > svg {
    font-size: 1.2rem;
    color: #053355;
  }

}

.profileMenuElement:hover {
  background-color: #f6f6f6;
  color: #0f72ba;
  transition: 0.5s;
}

.profileMenuContainer.show{
  display: flex;
}

.profileIcon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  > .svgProfileIcon a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    > svg {
    font-size: 2.4rem;
  }}
}
/* --------------END PROFILE MENU------------ */